<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='frio.css') }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<title>Frio</title>
	<link rel="stylesheet" href="./frio.css">
</head>
<body>
	<div class="header">
		<a href="./home.html"><img src="{{url_for('static', filename='friohometext.png')}}" alt="frio logo"></img></a>
		<a href="https://hacksc.com/"><img src="{{url_for('static', filename='hacksc.png')}}" alt="HackSC logo"></img></a>
	</div>
	<div class="row">
		<div class="box1">
			<div class="text-row">
				<p class="box-header">Your Ingredients!</p>
			</div>
			<div class="content">
				<form action = "/add" method = "POST">
					<input type = "text" name = "ingredient">
					<input type = "submit">
				</form>
				<ul>
				{% for ingredient in ingredients %}
				<li style="font-size: 10pt">{{ ingredient.text }} <a href = "{{url_for('gone', id = ingredient.id) }}">Delete</a></li>
				{% endfor %}
			</ul>
			</div>
		</div>
		<div class="box2">
			<p class="box-header box-header-1">Grocery Stores Near You</p>
			<iframe 
			    width="95%"
			    height="90%"
			    frameborder="0" style="border:0"
			    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDVDOx4Z6KyJQT0V2lGG25jmTRHcG47D6U&q=grocery+stores+near+usc&zoom=14" allowfullscreen>
			</iframe>
		</div>
	</div>
	<div class="row row-2">
		<div class="box3">
			<div class="half">
				<p class="box-header box-header-3">What you can Make!</p>
				<div class="content content2">
					<span>
				{% for name in recipenames %}
				<li style="font-size: 10pt">{{ name }}</li>
				{% endfor %}
			</span>
				</div>
			</div>
			<div class="half">
				<p class="box-header box-header-3">Price Checker!</p>
				<div class="price-box">
				  	<select class="select-css">
				     	<option value="traderJoes">Trader Joe's</option>
					    <option value="smartAndFinal">Smart And Final</option>
						<option value="yAndY">Y & Y Market</option>
						<option value="atmSunshine">ATM Sunshine Discount Store</option>
					</select>
					<br />
					<button class="price-button price-checker">Check Prices</button>
					<table>
						<tr>
							<th class="first-chosen"></th>
							<th class="second-chosen"></th>
							<th class="third-chosen"></th>
						</tr>
						<tr>
							<td class="first-chosen-price"></td>
							<td class="second-chosen-price"></td>
							<td class="third-chosen-price"></td>
						</tr>
					</table>
					<button class="price-button all-prices">More!</button>
					<button class="contribute"><a href="./contribute.html" class="page-contribute">Contribute!</a></button>
				</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row row-3">
		<div class="box3">
			<div class="half">
				<p class="box-header box-header-3">Health Tips and Resources!</p>
				<div class="push-left">
					<ul class="dashed">
						<li class="tip-1"></li>
						<br />
						<li class="tip-2"></li>
						<br />
						<li class="tip-3"></li>
					</ul>
				</div>
			</div>
			<div class="half">
				<div class="buttons">
			  		<button value="finances" class="resource">Finances</button>
			  		<button value="nutrition" class="resource">Nutrition</button>
			  		<button value="recipes" class="resource">Recipes</button>
			  	</div>
					<div class="resources">
						<a href="" id="l1"></a> <br>
						<a href="" id="l2"></a> <br>
						<a href="" id="l3"></a>
					</div>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="berkeley">
			<a href="https://www.berkeley.edu/"><img src="{{url_for('static', filename='logo.png')}}" alt="berkeley seal" style="width: 90px; height: 100px; padding-bottom: 10px; margin-right: 0px;"></img></a>
			<a href="https://eecs.berkeley.edu/"><img src="{{url_for('static', filename='berkeley.png')}}" alt="berkeley logo" style="width: 480px; height: 150px; margin-left: 0px;"></img></a>
		</div>
		<a href="https://hacksc.com/"><img src="{{url_for('static', filename='hacksc.png')}}" alt="HackSC logo"></img></a>
	</div>
	<script>
		let selection = document.querySelector('.select-css');

		function redirect(){
  if (selection.value == "traderJoes"){window.location.href = "https://www.traderjoes.com/";}
  else if (selection.value == "smartAndFinal"){window.location.href = "https://www.smartandfinal.com/";}
  else if (selection.value == "yAndY"){window.location.href = "https://www.google.com/search?rlz=1C5CHFA_enUS856US856&tbm=lcl&ei=1hg2Xv7yJbC50PEPoKqDoAo&q=Y+and+Y+Market&oq=Y+and+Y+Market&gs_l=psy-ab.3..0i22i30k1l2j38.4875.7891.0.8424.14.14.0.0.0.0.302.1394.4j4j1j1.10.0....0...1c.1.64.psy-ab..4.10.1387...0j0i67k1j0i131i273k1j0i273k1j0i131k1.0.or2iwmniqsQ#rlfi=hd:;si:1994866821941711466;mv:[[34.01369327731903,-118.2795356735801],[34.013333322680964,-118.27996992641988]]";}
  else if (selection.value == "atmSunshine"){window.location.href = "https://www.google.com/maps/place/ATM+Sunshine+Discount+Store/@34.0256837,-118.2966684,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c7f74f4d8aed:0xacd026f5f837420e!8m2!3d34.0256793!4d-118.2944797";}
}

		var tips = [
'If you are short on time, pack a healthy portable snack such as fruit or a granola bar to eat during lecture.',
'Never skip breakfast. Ideally, your breakfast should have protein such as eggs or yogurt.',
'Invest in a good water bottle in order to stay hydrated throughout the day.',
'If you are having trouble consistently going to the gym, consider athletic clubs on campus.',
'If your dining hall is buffet-style, be sure to take a balance of key nutrients.',
'Tight on money? Most colleges have a pantry of food for those in need.'
];

let tip1 = document.querySelector('.tip-1');
let tip2 = document.querySelector('.tip-2');
let tip3 = document.querySelector('.tip-3');

var n1 = Math.floor(Math.random() * tips.length);
var n2 = Math.floor(Math.random() * tips.length);
var n3 = Math.floor(Math.random() * tips.length);

while(n1 == n2)
{
  n1 = Math.floor(Math.random() * tips.length);
}
while(n3 == n1 || n3 == n2)
{
  n3 = Math.floor(Math.random() * tips.length);
}

tip1.innerText = tips[n1];
tip2.innerText = tips[n2];
tip3.innerText = tips[n3];

var link1 = document.getElementById("l1");
var link2 = document.getElementById("l2");
var link3 = document.getElementById("l3");

document.querySelector('.buttons').addEventListener('click', function(event) {
  switch(event.target.value){
    case 'finances':
      link1.setAttribute("href", "https://www.everydollar.com/blog/create-a-meal-plan");
      link1.innerText = "Basic Guide to Creating a Meal Plan";
      link2.setAttribute("href", "https://www.fns.usda.gov/snap/supplemental-nutrition-assistance-program");
      link2.innerText = "Government SNAP program";
      link3.setAttribute("href","https://www.mashupmom.com/category/meal-planning/");
      link3.innerText = "Free Meal Planning Service";
    break;
    case 'nutrition':
      link1.setAttribute("href", "https://www.eatright.org/food#Nutrition");
      link1.innerText = "Academy of Nutrition and Dietetics";
      link2.setAttribute("href", "https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/healthy-recipes/art-20047195");
      link2.innerText = "Mayoclinic Healthy Eating Guide";
      link3.setAttribute("href","https://www.nhlbi.nih.gov/health/educational/wecan/eat-right/portion-distortion.htm");
      link3.innerText = "Portioning Guide";
    break;
    case 'recipes':
      link1.setAttribute("href", "https://www.allrecipes.com/");
      link1.innerText = "Master Recipe Catalogue";
      link2.setAttribute("href", "https://fitfoodiefinds.com/best-healthy-recipes-for-college-kids-budget-friendly-and-meal-prep/");
      link2.innerText = "Recipes for college students";
      link3.setAttribute("href","https://www.tasteofhome.com/collection/budget-friendly-dinners-that-are-big-on-taste/");
      link3.innerText = "Budget-friendly recipes by Taste of Home";
    break;
    default:

  }
});
	</script>
</body>
</html>