<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='home.css') }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<title>Frio</title>
</head>
<body>
	<div class="home">
		<div class="fridge-div">
			<img class = "fridge" src= "{{url_for('static', filename='fridge.png')}}" alt="Fridge Girl">
		</div>
		<div class="text">
			<img class = "home-text" src= "{{url_for('static', filename='friohometext.png')}}" alt="Homepage Text">
			<a href="/frio" class="linker"><button class="get-started">Get Started!</button></a>
		</div>
	</div>
</body>
</html>